{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links of CSS files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- Link  CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    
    {% load bootstrap5 %}

    <title>Shop_djender_enide</title>
</head>
<body>
    
    {% block content %}
    {% endblock  %} 
    

    {% bootstrap_javascript %}

    <!-- Link JS  -->
    <script src="{% static 'js/main.js' %}"></script>
    
    <!-- Links of JS files -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/rangeSlider.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/meanmenu.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/contact-form-script.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>